:root {
  --theme-color: #25b99a;
  --background-color: #e9f0ee;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

body,
input {
  font-family: "Work Sans", sans-serif;
}
/* This is Header */
.header {
  background-color: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  border-style: none;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 0 5px 2px #c2c2c2;
  z-index: 100;
}
.form {
  width: 100%;
  margin: 0 15px 0 15px;
}
.input {
  width: 100%;
  height: 55px;
  border-style: none;
  border-radius: 7px 30px 30px 7px;
  background-color: #ffffff33;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.input:focus::placeholder {
  color: transparent;
}

.input::placeholder {
  color: white;
}

.input[type="text"] {
  padding: 0 70px 0 15px;
}

.submit-button {
  width: 55px;
  height: 55px;
  border-style: none;
  border-radius: 100%;
  position: absolute;
  right: 10px;
}

.submit-button svg {
  width: 15px;
  height: 15px;
  transform: translate(0, 10%);
}

.submit-button svg .fill {
  fill: var(--theme-color);
}

.submit-button:focus {
  outline: none;
}

/* This is Section */
.section {
  margin-top: 90px;
}
.list {
  list-style: none;
  padding: 0 10px 0 10px;
}

.list_items {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 15px;
  margin: 10px 0 10px 0;
  border-radius: 7px;
  box-shadow: 0 4px 7px 1px #d4d3d3;
  /* box-sizing: border-box; */
  background-color: white;
  font-size: 13px;
}

.list_items.completed {
  text-decoration: line-through;
}

.list_buttons {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
}

.delete {
  padding: 0;
  margin-right: 8px;
  border-style: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
}

/* Delete Button */
.delete:focus {
  outline: none;
}

.delete svg {
  fill: #c0cecb;
  pointer-events: none;
}

.delete:hover svg .fill {
  fill: #f84343;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #c0cecb;
}

/* Complete Button */
.complete {
  padding: 0;
  margin: 0 8px 0 8px;
  border: none;
  outline: none;
  /* border: solid 0.1px var(--theme-color);
  border-radius: 100%; */
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.complete.completed,
.complete.completed svg .fill {
  outline: none;
  fill: white;
}

.complete.completed svg .noFill {
  fill: var(--theme-color);
}

.complete svg {
  border: solid 1px var(--theme-color);
  border-radius: 100%;
  pointer-events: none;
}
.complete svg .fill {
  fill: var(--theme-color);
}

.complete svg .noFill {
  fill: none;
}
